@import '~@angular/material/_theming';
@import '../../common';

.calendar {
    width: 100%;

    .cal-head,
    .cal-head-mini {
        color: #456564;
        background: #d1d1d1;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;

        .cal-day {
            width: 142px;
            text-align: center;
        }
    }

    .cal-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;

        .day {
            box-shadow: inset #0000003b 0px 0px 2px 0px;
            transition: all 0.1s;
            flex-shrink: 1;
            order: 2;
        }

        .day:hover {
            box-shadow: inset #0000003b 0px 0px 10px 0px;
            cursor: pointer;
        }

        .beginningSpacer .day,
        .endSpacer .day {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .beginningSpacer {
            order: 1;
        }

        .endSpacer {
            order: 3;
        }
    }
}

@media screen and (min-width: 1250px),
print {
    .calendar {
        width: 1000px;
        height: 1000px;
        padding: 5px 10px;

        .cal-day p {
            width: 142px;
        }

        .cal-day.micro {
            display: none;
        }

        .cal-body {
            span {
                height: 142px;
            }

            .day {
                width: 142.25px;
                height: 142.25px;
            }
        }

        .cal-head {
            display: flex;
        }

        .cal-head-mini {
            display: none;
        }

        .close-btn,
        .add-btn {
            display: block;
        }

        .close-btn.mini,
        .add-btn.mini {
            display: none;
        }

        .date-heading {
            display: block;
        }

        .date-heading.mini {
            display: none;
        }
    }
}

@media screen and (max-width: 1249px) and (min-width: 940px),
print {
    .calendar {
        width: 700px;
        height: 800px;
        padding: 5px 10px;

        .cal-day p {
            width: 100px;
        }

        .cal-day.micro {
            display: none;
        }

        .cal-body {
            span {
                height: 100px;
            }

            .day {
                width: 100px;
                height: 100px;
            }
        }

        .cal-head {
            display: flex;
        }

        .cal-head-mini {
            display: none;
        }

        .close-btn,
        .add-btn {
            display: block;
        }

        .close-btn.mini,
        .add-btn.mini {
            display: none;
        }

        .date-heading {
            display: block;
        }

        .date-heading.mini {
            display: none;
        }
    }
}

@media screen and (max-width: 939px) and (min-width: 600px) {
    .calendar {
        width: 395px;
        height: 495px;
        padding: 0;

        .cal-body .day {
            width: 56px;
            height: 56px;
        }

        .cal-day p {
            width: 56px;
        }

        .cal-day.micro {
            display: none;
        }

        .cal-head {
            display: none;
        }

        .cal-head-mini {
            display: flex;
        }

        .close-btn,
        .add-btn {
            display: none;
        }

        .close-btn.mini,
        .add-btn.mini {
            display: block;
        }

        .date-heading {
            display: block;
        }

        .date-heading.mini {
            display: none;
        }
    }
}

@media screen and (max-width: 599px) and (min-width: 375px) {
    .calendar {
        width: 360px;
        height: 460px;
        padding: 0;

        .cal-head {
            display: none;
        }

        .cal-head-mini {
            display: flex;
        }

        .cal-day p {
            width: 51.4px;
        }

        .cal-day.micro {
            display: none;
        }

        .cal-body .day {
            width: 51.4px;
            height: 51.4px;
        }

        .close-btn,
        .add-btn {
            display: none;
        }

        .close-btn.mini,
        .add-btn.mini {
            display: block;
        }

        .date-heading {
            display: none;
        }

        .date-heading.mini {
            display: block;
        }
    }
}

@media screen and (max-width: 374px) {
    .calendar {
        width: 300px;
        padding: 0;

        .cal-head {
            display: none;
        }

        .cal-head-mini {
            display: flex;

            p {
                margin: 2.5px 0px;
            }
        }

        .mat-drawer-content.mat-sidenav-content {
            overflow: hidden;
        }

        .cal-day {
            display: none;

            p {
                width: 42.8px;
            }
        }

        .cal-day.micro {
            display: block;
        }

        .cal-body .day {
            width: 42.8px;
            height: 42.8px;
        }

        .close-btn,
        .add-btn {
            display: none;
        }

        .close-btn.mini,
        .add-btn.mini {
            display: block;
        }

        .selected-day-event {
            font-size: 0.75rem;
        }

        .date-heading {
            display: none;
        }

        .date-heading.mini {
            display: block;
        }
    }
}
