@import '~@angular/material/_theming';
@import '../../common';

:host {
  height: 100%;
  width: 100%;
}

.auth.content {

  mat-card {
    max-height: 600px;
    top: 100px;

    form {
      mat-form-field:nth-child(2) {
        margin: 20px 0;
      }
    }
  }
}
