<div id="sidenav" class="scrollable" [style.width.px]="sidenavWidth" [style.display]="display">
  <a class="link" routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="label font-effect-emboss">Dashboard</span>
  </a>
  <a class="link" routerLink="/shifts">
    <mat-icon>event_available</mat-icon>
    <span class="label font-effect-emboss">Shifts</span>
  </a>
  <a class="link" routerLink="/exams/0">
    <mat-icon>assignment</mat-icon>
    <span class="label font-effect-emboss">Exams</span>
  </a>
  <a class="link" routerLink="/services/0">
    <mat-icon>room_service</mat-icon>
    <span class="label font-effect-emboss">Services</span>
  </a>
  <a class="link" routerLink="/reports">
    <mat-icon>list_alt</mat-icon>
    <span class="label font-effect-emboss">Reports</span>
  </a>
  <a class="link" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span class="label font-effect-emboss">Settings</span>
  </a>
  <img routerLink="/" class="logo" src="../../assets/full-logo.png" />
</div>
