@import '~@angular/material/_theming';
@import '../../common';

#shift {
  position: relative;
  padding: 40px 10px 0 10px;
  overflow: auto;
  height: calc(100% - 40px);

  #home,
  #logout {
    position: absolute;
  }

  #home {
    top: 0px;
    left: 15px;

    mat-icon {
      font-size: 60px;
      color: $primary-color;
    }
  }

  #home:hover {

    mat-icon {
      color: $accent-color;
    }
  }

  #user-name {
    position: absolute;
    top: 16px;
    left: 90px;
    font-size: 20px;
    color: $primary-color;
  }

  #header-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;

    .toolbar-items {
      position: absolute;
      right: 100px;

      .icon-row {
        padding-top: 10px;
        height: 24px;
      }
    }

    .toolbar-search {
      width: 20%;
      margin-left: auto;
      margin-right: auto;
    }

    .caiu-logo {
      width: 20%;
      text-align: center;
    }

    .toolbar-items {
      display: inline-flex;
    }

    .toolbar-item {
      padding: 0px 25px;
      margin: auto 0px;
    }

    .toolbar-misc {
      text-align: center;
      position: absolute;
      right: 10px;

      .settings-icon {
        color: $primary-color;
        font-size: 48px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    #date {
      font-size: 20px;
      font-weight: bold;
    }

    rvu-shift-services {
      display: flex;
      justify-self: flex-start;
      margin-top: -65px;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      margin: 0;
      height: 480px;

      rvu-shift-overview {
        height: 90%;
        width: 35%;
      }

      rvu-exam-types {
        height: 90%;
        width: 55%;
        min-width: 700px;
      }
    }
  }

  .exams {
    width: 90%;
    padding: 20px;
    max-height: 80%;
    margin: 100px 0 120px;

    mat-tab-group {

      .mat-tab-body-wrapper {
        @include mat-elevation(16);
      }
    }

  }

  .select-services {
    width: 300px;
    align-self: flex-start;
    padding: 0 70px;
    margin: 0;
    position: relative;
  }

  .mat-mini-fab {
    position: absolute;
    left: 400px;
    top: 64px;
  }
}
