@import '~@angular/material/_theming';
@import '../../common';

.exam-types {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 40px;
  @include mat-elevation(6);
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 500px;
  max-width: 800px;

  .active-group {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      padding: 0;
      margin-right: 20px;
      color: #000;
    }

    .mat-mini-fab {
      margin: 0 5px;

      mat-icon {
        color: #fff;
      }
    }
  }

  .group-input {}

  .typeahead {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 160px;
  }

  .scrollable {
    width: 40%;
    height: 90%;
    background-color: #fff;
    background-color: mat-color($primary-palette, 100);
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    overflow-y: auto;
    padding: 5px;

    .list-item {
      width: 100%;
      font-size: 15px;
      margin: 2px 0;
      white-space: normal;
      padding: 5px 0;
    }
  }

  .scrollable.groups {
    width: 30%;

    .list-item {
      @include dark-blue-gradient();
      color: #fff;
    }

    .list-item.active,
    .list-item:hover {
      @include mat-elevation(16);
      @include black-gradient();
      color: #fff;
    }
  }

  .scrollable.group-exam-types {
    width: 60%;
    padding-left: 2%;
    //background-color: mat-color($accent-palette, 200);

    .list-item {
      //@include mat-elevation(4);
      border: 3px outset silver;
      //@include silver-gradient();
      background: #fff;
      @include light-blue-gradient();
      width: 93%;
      padding: 10px 2%;
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .rvu,
      .cpt-code {
        color: mat-color($accent-palette, 500);
        margin: 0;
      }

      .type-name {
        color: #fff;
        margin: 0;
      }

      .btn-add-exam {
        @include light-green-gradient();
        color: #fff;

        mat-icon {
          color: $primary-color;
        }
      }
    }

    .list-item:hover {
      @include light-blue-gradient();

      .type-name {
        color: #fff;
      }
    }
  }
}

.error-message {
  position: absolute;
  top: 48px;
  left: 460px;
}
