@import '~@angular/material/_theming';
@import '../../../common';

.exam-types-control {
  width: 100%;
  height: 100%;
  width: 320px;
  height: 600px;
  padding: 20px 20px 0 20px;
  @include mat-elevation(8);
  @include silver-hgradient();
  position: relative;

  .heading {
    font-size: 18px;

    .active-date {
      color: $primary-color;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
    position: absolute;
    top: 40px;
    right: 20px;

    mat-icon {
      cursor: pointer;
      font-size: 28px;
      color: #000;
    }

    mat-icon:hover {
      font-weight: bold;
    }
  }

  .apply-to-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .search {
    width: 240px;
  }

  .scrollable.mat-chip-list {
    width: 80%;
    height: 74%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 2px 5px 20px #555;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
    background-color: #fff;

    .mat-chip {
      cursor: pointer;
      width: 100%;
      text-align: center;
      display: block;
    }

    .mat-chip.disabled {
      @include mat-elevation(0);
      opacity: 0.8;
      cursor: default;
    }

    .mat-chip.mat-chip-selected {
      background-color: $primary-color;
    }

    p {
      width: 100%;
      padding: 7px 12px;
      margin: 4px;
    }
  }

  .scrollable.blocks {
    width: 94%;
    height: 82%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 2px 5px 20px #555;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px 3%;
    background-color: #fff;

    .list-item {
      font-size: 15px;
      white-space: normal;
      border: 3px outset silver;
      @include silver-gradient();
      width: 96%;
      padding: 10px 2%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .cpt-code {
        color: mat-color($primary-palette, 500);
        margin: 0;
      }

      .type-name {
        color: #fff;
        margin: 0;
      }

      .btn-add-exam {
        @include light-green-gradient();
        color: #fff;

        mat-icon {
          color: $primary-color;
        }
      }

      .tree-item-handle {
        cursor: move;
      }
    }

    .list-item.selected {
      @include light-blue-gradient();

      .cpt-code {
        color: mat-color($accent-palette, 500);
        margin: 0;
      }
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .example-box:last-child {
      border: none;
    }

    .list.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .custom-placeholder {
      background: #ccc;
      border: dotted 3px #999;
      min-height: 44px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .cdk-drag-preview {
      cursor: move;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
}


.list-item.dragging {
  cursor: move !important;
  color: #fff;
  width: 250px;
  height: 40px;
  display: flex;
  border: 3px outset silver;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  @include light-blue-gradient();
  font-size: 14px;
}
