<div class="auth content" fxLayout="column" fxFlex>
  <div class="login-content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
    <mat-card>
      <a id="signup-link" class="link" routerLink="/login">Go To Login Page</a>
      <img class="logo" src="../../assets/full-logo.png" />
      <h1>Reset Password</h1>

      <form [formGroup]="form" (keyup.enter)="submit()">
        <mat-form-field>
          <input matInput placeholder="Password*" type="password" maxlength="256" formControlName="password" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm Password*" type="password" maxlength="256" formControlName="confirmPassword" />
        </mat-form-field>

        <button type="button" class="button buttonBlue" (click)="submit()">
          Submit
        </button>
      </form>

      <div class="footer">
        <a href="http://www.caiu.org/" target="_blank">
          <img src="../../assets/logo.png" style="height:30px; width:30px;" />
        </a>
        <p>
          Powered by
          <a href="http://www.caiu.org/" target="_blank"></a>
        </p>
      </div>
    </mat-card>
  </div>
</div>
