@import '~@angular/material/_theming';
@import '../../../common';

form {
  @include mat-elevation(4);
  //@include light-blue-gradient();
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 800px;
  min-width: 1400px;
  padding: 40px 20px;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;

  mat-form-field {
    width: 30%;
  }

  .mat-form-field:nth-of-type(1),
  .mat-form-field:nth-of-type(2) {
    width: 40%;
  }

  .mat-form-field:nth-of-type(3) {
    width: 50%;
  }
}
