<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Service Name" formControlName="name" />
  </mat-form-field>
  <rvu-exam-types-control formControlName="examTypes"></rvu-exam-types-control>
  <iu-editor id="editor" formControlName="description" [height]="300" type="FULL"></iu-editor>
  <div class="actions">
    <button [style.background]="'red'" mat-raised-button>DELETE</button>
    <button [style.background]="'green'" mat-raised-button (click)="onSave()">SAVE</button>
  </div>
</form>
