@import '~@angular/material/_theming';

// $primary-palette: $mat-indigo;
// $accent-palette: $mat-amber;
$primary-palette: (50: #e5eef3,
  100: #e9f0f8,
  200: #99bbd1,
  300: #6699ba,
  400: #3277a3,
  500: #00568c,
  600: #004d7e,
  700: #004470,
  800: #003c62,
  900: #003354,
  A100: #0085d9,
  A200: #0075bf,
  A400: #0066a6,
  A700: #003759,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white));
$accent-palette: (50: #f1f8e9,
  100: #dcedc8,
  200: #c5e1a5,
  300: #aed581,
  400: #9ccc65,
  500: #8bc34a,
  600: #7cb342,
  700: #689f38,
  800: #558b2f,
  900: #33691e,
  A100: #ccff90,
  A200: #b2ff59,
  A400: #76ff03,
  A700: #64dd17,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity));
$primary-color: mat-color($primary-palette, 500);
$accent-color: mat-color($accent-palette, 300);

$rvu-red: #e57373;

@mixin scrollable($color: #aebfbe, $background-color: white) {
  .scrollable::-webkit-scrollbar-track {
    background-color: $background-color;
  }

  .scrollable::-webkit-scrollbar {
    width: 30px;
    background-color: $background-color;
  }

  .scrollable::-webkit-scrollbar-thumb {
    background-color: #c7d0cf;
  }
}

@mixin light-blue-gradient() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00568c+0,3277a3+71,0075bf+100 */
  background: #00568c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00568c 0%, #3277a3 71%, #0075bf 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      #00568c 0%,
      #3277a3 71%,
      #0075bf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00568c 0%, #3277a3 71%, #0075bf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00568c', endColorstr='#0075bf', GradientType=0);
  /* IE6-9 */
}

@mixin dark-blue-gradient() {
  background: #00568c;
  background: -moz-linear-gradient(top, #00568c 0%, #0062a0 61%, #006eb3 100%);
  background: -webkit-linear-gradient(top,
      #00568c 0%,
      #0062a0 61%,
      #006eb3 100%);
  background: linear-gradient(to bottom, #00568c 0%, #0062a0 61%, #006eb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00568c', endColorstr='#006eb3', GradientType=0);
}

@mixin neon-green-gradient {
  background: rgba(100, 221, 23, 1);
  background: -moz-linear-gradient(top,
      rgba(100, 221, 23, 1) 0%,
      rgba(118, 255, 3, 1) 56%,
      rgba(178, 255, 89, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(100, 221, 23, 1)),
      color-stop(56%, rgba(118, 255, 3, 1)),
      color-stop(100%, rgba(178, 255, 89, 1)));
  background: -webkit-linear-gradient(top,
      rgba(100, 221, 23, 1) 0%,
      rgba(118, 255, 3, 1) 56%,
      rgba(178, 255, 89, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(100, 221, 23, 1) 0%,
      rgba(118, 255, 3, 1) 56%,
      rgba(178, 255, 89, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(100, 221, 23, 1) 0%,
      rgba(118, 255, 3, 1) 56%,
      rgba(178, 255, 89, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(100, 221, 23, 1) 0%,
      rgba(118, 255, 3, 1) 56%,
      rgba(178, 255, 89, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64dd17', endColorstr='#b2ff59', GradientType=0);
}

@mixin dark-green-gradient {
  background: rgba(51, 105, 30, 1);
  background: -moz-linear-gradient(top,
      rgba(51, 105, 30, 1) 0%,
      rgba(104, 159, 56, 1) 81%,
      rgba(139, 195, 74, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(51, 105, 30, 1)),
      color-stop(81%, rgba(104, 159, 56, 1)),
      color-stop(100%, rgba(139, 195, 74, 1)));
  background: -webkit-linear-gradient(top,
      rgba(51, 105, 30, 1) 0%,
      rgba(104, 159, 56, 1) 81%,
      rgba(139, 195, 74, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(51, 105, 30, 1) 0%,
      rgba(104, 159, 56, 1) 81%,
      rgba(139, 195, 74, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(51, 105, 30, 1) 0%,
      rgba(104, 159, 56, 1) 81%,
      rgba(139, 195, 74, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(51, 105, 30, 1) 0%,
      rgba(104, 159, 56, 1) 81%,
      rgba(139, 195, 74, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33691e', endColorstr='#8bc34a', GradientType=0);
}

@mixin light-green-gradient {
  background: rgba(139, 195, 74, 1);
  background: -moz-linear-gradient(top,
      rgba(139, 195, 74, 1) 0%,
      rgba(174, 213, 129, 1) 81%,
      rgba(197, 225, 165, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(139, 195, 74, 1)),
      color-stop(81%, rgba(174, 213, 129, 1)),
      color-stop(100%, rgba(197, 225, 165, 1)));
  background: -webkit-linear-gradient(top,
      rgba(139, 195, 74, 1) 0%,
      rgba(174, 213, 129, 1) 81%,
      rgba(197, 225, 165, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(139, 195, 74, 1) 0%,
      rgba(174, 213, 129, 1) 81%,
      rgba(197, 225, 165, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(139, 195, 74, 1) 0%,
      rgba(174, 213, 129, 1) 81%,
      rgba(197, 225, 165, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(139, 195, 74, 1) 0%,
      rgba(174, 213, 129, 1) 81%,
      rgba(197, 225, 165, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8bc34a', endColorstr='#c5e1a5', GradientType=0);
}

@mixin black-gradient {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #191919 55%, #323232 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #191919 55%, #323232 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #191919 55%, #323232 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#323232', GradientType=0);
  /* IE6-9 */
}

@mixin black-hgradient {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #191919 45%, #323232 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%, #191919 45%, #323232 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%, #191919 45%, #323232 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#323232', GradientType=1);
  /* IE6-9 */
}

@mixin silver-gradient {
  background: #8e8e8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8e8e8e 0%, #c0c0c0 48%, #dadada 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e8e8e 0%, #c0c0c0 48%, #dadada 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e8e8e 0%, #c0c0c0 48%, #dadada 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8e8e', endColorstr='#dadada', GradientType=0);
  /* IE6-9 */
}

@mixin silver-hgradient {
  background: #8e8e8e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #8e8e8e 0%, #c0c0c0 44%, #dadada 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #8e8e8e 0%, #c0c0c0 44%, #dadada 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #8e8e8e 0%, #c0c0c0 44%, #dadada 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8e8e', endColorstr='#dadada', GradientType=1);
  /* IE6-9 */
}

@mixin calendar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  iu-calendar {
    width: 90%;
    margin: 0 auto;
    display: block;

    .btn-edit {
      right: 50px !important;
    }

    .calendar-wrapper {
      width: 90% !important;
      margin: 5% 0 !important;

      .date-heading-container {

        button {
          background-color: mat-color($primary);
          color: #fff;
        }
      }
    }

    .calendar-day {
      p.active-day {
        color: #fff;
        background-color: mat-color($primary);
      }
    }
  }

  .calendar-event {
    .calendar-event-name {
      color: #fff;
      background-color: mat-color($accent);
    }
  }

  .calendar-event.plus-more {
    .calendar-event-name {
      color: #fff;
      background-color: mat-color($primary);
    }
  }
}
