@import '~@angular/material/_theming';
@import '../../common';

.goals {
  mat-grid-list {
    height: 100%;
    width: 100%;

    mat-grid-tile {
      @include mat-elevation(1);

      .tile {
        @include light-blue-gradient();
        height: 100%;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .title {
          color: #fff;
          font-size: 18px;
        }

        .value {
          color: $accent-color;
          font-size: 36px;
        }

      }
    }
  }
}
